@import url('https://v1.fontapi.ir/css/Yekan');
 
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Yekan, sans-serif;
    background-color: #fff9ef;
}

.hero-section .headline {
    font-size: 2.5rem;
    font-weight: bold;
    color: #b68128;
    text-shadow: 4px 3px 1px #ebd3af;
}

.btn-hero:active,
.btn-hero:focus,
.btn-hero:hover,
.btn-hero {
    background-color: #e9c78c;
    color: #fff;
    border-radius: 7px;
    padding: 5px 30px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 2px #ab8138;
    cursor: pointer;
}

.btn-content:active,
.btn-content:focus,
.btn-content:hover,
.btn-content {
    background-color: #ffff;
    color: #444444;
    border-radius: 50px;
    padding: 6px 25px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: larger;
}

.btn-course:active,
.btn-course:focus,
.btn-course:hover,
.btn-course {
    background-color: #da8c36;
    color: #ffff;
    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: larger;
}

.promo{
    text-align: center;
}

.divider {
    border-bottom: 5px solid #e28c26;
    border-radius: 50px;
    margin-right: 5rem;
    margin-left: 5rem;
}

.divider-lg {
    display: flex;
    color: #ffff;
    background: #e28c26;
    border-radius: 50px;
    padding: 14px;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.vr{
    display: inline-flex;
    align-self: stretch;
    padding: 3px;
    width: 1px;
    border-radius: 50px;
    min-height: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    opacity: 1;
    background-color: #e28c26;
}

.section-heading{
    font-weight: bold;
    color: #4f4e4c;
}

.key-points {
    color: #5b5a54;
}

li {
    display: flex;
    padding: 10px 0px;
}

.key-points-list li::before{
    content: '';
    display: inline-flex;
    width: 25px;
    height: 25px;
    -moz-border-radius: 100rem;
    -webkit-border-radius: 100rem;
    border-radius: 100rem;
    align-items: center;
    background-color: #e28c26;
    margin-left: 10px;
}

.card {
    border: 4px solid #da8d36;
    border-radius: 13px;
}

.btn-package:active,
.btn-package:focus,
.btn-package:hover,
.btn-package{
    background-color: #da8d36;
    color: #fff;
    border-radius: 13px;
    padding: 0px 20px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.section-heading-course {
    color: #9e7023;
}

#testimonial-slider{
    background-color: #fbf1e3;
}

footer{
    background-color: #cc996c;
}

footer .wrap {
    display: flex;
    justify-content: space-evenly;
}

.course-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex: 0 1 auto;
}

.carousel-control-next {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    right: -5%;
}

.carousel-control-prev {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    left: -5%;
}

.carousel-control-next-icon{
    background-color: #da8c36;
}

.carousel-control-prev-icon{
    background-color: #da8c36;
}

@media (min-width: 1200px){
    .hero-section .headline {
        font-size: 4.5em;
    }
    .carousel-control-next {
        right: -2%;
    }
    .carousel-control-prev {
        left: -2%;
    }
}

@media (max-width: 575.98px){
    .divider {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    li {
        font-size: .8em;
    }
    .key-points-list li::before{
        width: 16px;
        height: 16px;
    }
    .vr {
        margin-top: 0;
        margin-left: 2rem;
        margin-right: 2rem;
        width: -webkit-fill-available;
    }
    .carousel-control-next {
        right: 0;
    }
    .carousel-control-prev {
        left: 0;
    }
}

.video-container {
    width: auto;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
  
.play-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    pointer-events: none;
}
  
.play-button-wrapper #circle-play-b {
    cursor: pointer;
    pointer-events: auto;
}

.play-button-wrapper #circle-play-b svg {
    width: 100px;
    height: 100px;
    fill: #fff;
    stroke: #fff;
    cursor: pointer;
    background-color: #e28c26;
    border-radius: 50%;
    opacity: 0.9;
}